.container-main {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.img-background {
  width: 100%;
}

.heading-challenge {
  padding-top: 30px;
  text-align: center;
}

.subheader-challenge {
  padding-bottom: 20px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.module-image {
  width: 100%;
}








































